.container{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: space-evenly;
    background-color: black;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
}
.item{
    background-color: green;
    border: 5px slategray;
    border-radius: 5px;
    padding: 20px;
    transition-property: 'background-color';
    transition-duration: '5s';


}